<!DOCTYPE html>

<html>
<head>
    @RenderPage("BasePageInclude.cshtml")
    <title>Reserveer</title>
</head>
<body>
    @RenderPage("BasePageHeader.cshtml")
    @using DotNet.Models;

        <h1 class="text-center">welcome user @Session["UID"]  </h1>
        <div class="container">
            <div class="fx-row">
                <form method="post" action="/home/Reserv">
                    <div class="fx-col-5">
                        <p class="w-20">
                            start locatie:<select name="SLOC" size="1">
    @foreach (locatie x in ((data)Session["data"]).Locs)
    {
        <option value="@x.LNR">@x.Lnaam</option>
    }

</select>
                        </p>
                    </div>
                    <div class="fx-col-5">
                        <p class="w-20">
                            eind locatie:<select name="ELOC" size="1">
    @foreach (locatie x in ((data)Session["data"]).Locs)
    {
        <option value="@x.LNR">@x.Lnaam</option>
    }
</select>
                        </p>
                    </div>
                    <div class="fx-col-5">
                        <p class="w-20">
                            voertuig:<select name="VEHI" size="1">



    @foreach (wagen x in ((data)Session["data"]).Wagens)
    {
        <option value="@x.WNR">@x.Name</option>
    }

</select>
                        </p>
                    </div>

                    <div class="fx-col-5"><p class="w-20">begin:<input name="STAR" type="date" /></p></div>
                    <div class="fx-col-5">
                        <p class="w-20">duur:<input name="DLEN" type="number" /></p>


                        <input name="ORIGIN" type="text" value="RESERVADD" hidden="True">
                        <input type="submit" />
                    </div>
            </div>

            </form>






@RenderPage("BasePagefooter.cshtml")
</body>
</html>